# INFORMACIÓN DEL PROYECTO

### TÍTULO

***Exploración y análisis de la correlacion entre la valuacion economica de los mejores clubes europeos de futbol y su desempeño deportivo en la temporada 2020-2021***

### TEMA

Valuación económica en relacion a la evolucion deportiva de los clubes

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

***<H5> Los clubes europeos de futbol mejor valuados economicamente obtienen mayor cantidad de logros deportivos***

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

>> Para corroborar la hipótesis planteada se acudirá a los siguientes DataSets:

[CSV de las Estadisticas Deportivas de los Clubes] (https://www.kaggle.com/datasets/varpit94/football-teams-rankings-stats?select=Football+teams.csv)

[CSV de la Valuacion Economica de los Clubes] (https://www.kaggle.com/datasets/sanjeetsinghnaik/football-club-market-value-2021)

[CSV de Transferencias de Jugadores] (https://www.kaggle.com/datasets/thitiwat/top-100-most-expensive-football-transfers)

[Fuente: KAGGLE] (https://www.kaggle.com/datasets)

A continuación se detalla mediante un head() los principales **DataSets** con los que voy a trabajar

In [5]:
import pandas as pd

In [13]:
edc = pd.read_csv("../Data/EDA_estadisticas_deportivas_clubes.csv")
edc.head()

,Team,Tournament,Goals,Shots pg,yellow_cards,red_cards,Possession%,Pass%,AerialsWon,Rating
0,Manchester City,Premier League,83,15.8,46,2,60.8,89.4,12.8,7.01
1,Bayern Munich,Bundesliga,99,17.1,44,3,58.1,85.5,12.9,6.95
2,Paris Saint-Germain,Ligue 1,86,15.0,73,7,60.1,89.5,9.5,6.88
3,Barcelona,LaLiga,85,15.3,68,2,62.4,89.7,10.6,6.87
4,Real Madrid,LaLiga,67,14.4,57,2,57.7,87.7,11.8,6.86

In [14]:
vec = pd.read_csv("../Data/EDA_valuacion_economica_clubes.csv")
vec.head()

,Unnamed: 0,Club Name,Competition Name,Squad Size,Average Age Of Players,Market Value Of Club In Millions(£),Average Market Value Of Players In Millions(£),Market Value Of Top 18 Players In Millions(£)
0,0,Manchester City,Premier League,24,27.1,970.02,40.42,920.70
1,1,Paris Saint-Germain,Ligue 1,36,26.1,891.18,24.76,801.00
2,2,Manchester United,Premier League,29,27.9,820.13,28.28,742.50
3,3,Chelsea FC,Premier League,27,26.9,802.35,29.72,737.10
4,4,Liverpool FC,Premier League,27,27.2,779.85,28.88,715.95

In [16]:
tj = pd.read_csv("../Data/EDA_transferencias_jugadores.csv")
tj.head()

   Pos.             Player  Year            Fee   From Club           To Club
0     1             Neymar  2017          €222m  Barcelona                PSG
1     2      Kylian Mbappe  2017  €145m (+€35m)     Monaco                PSG
2     3         Joao Felix  2019          €126m    Benfica    Atletico Madrid
3     4     Enzo Fernandez  2023          €121m    Benfica            Chelsea
4     5  Philippe Coutinho  2018  €120m (+€40m)  Liverpool          Barcelona